* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #010217;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #00084b;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px;
  z-index: 3;
  position: fixed;
}

.navBrand {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .navBrand .navLogo {
  width: 100px;
}

nav .navBrand .navTitle {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav #navToggle {
  display: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  transition: background ease-in-out 0.2s;
  width: 40px;
  height: 40px;
  color: white;
}

nav #navToggle:hover {
  background: #00084b;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  transition: background ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  box-shadow: none;
}

nav ul li:hover {
  box-shadow: inset #00000007 0 0 5px;
  background: #00084b;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  nav ul {
    display: none;
    background: #00084b;
  }

  nav #navToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav ul.toggled {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 90px;
    align-items: end;
    border-radius: 12px;
    box-shadow: #00000049 0 0 10px;
    padding: 20px;
  }

  nav ul.toggled li {
    display: block;
    width: 100%;
    text-align: right;
  }
  .card2{
    width: 310px !important;
  }
  .card{
    width: 310px !important;
  }
  .card img{
    width: 200px !important;
  }
}

@media screen and (max-width: 350px) {
  nav {
    height: 60px;
  }

  nav .navBrand .navLogo {
    width: 30px;
  }

  nav .navBrand .navTitle {
    font-size: 18px
  }

  nav #navToggle {
    font-size: 14px;
  }

  nav ul.toggled {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 70px;
    align-items: end;
    border-radius: 12px;
    box-shadow: #00000049 0 0 10px;
    padding: 20px;
  }

  nav ul.toggled li {
    display: block;
    width: 100%;
    text-align: right;
  }

  #main .content {
    top: 60px;
  }
  .clas-con{
    display: flex;
    flex-direction: column !important;
  }
  .card2{
    width: 300px !important;
  }
}

#main {
  width: 100%;
  height: 100vh;
  background: #000223;
  display: flex;
  z-index: 0;
}

#main .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("sc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: blur(5px);
  z-index: 1;
}
#main .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  width: 100%;
}
#main .content h1{
  text-align: center !important;
  font-size: 40px;
  margin: 10px;
}
button{
  background-color: transparent;
  border-radius: 50px;
  margin-top: 20px;
  border: 1px solid blue;
  width: 150px;
  height: 50px;
  color: white;
  font-weight: bold;
   z-index: 3;
}
button:hover{
   border: 1px solid aqua;
   transition: 2s;
}
#about {
  padding-top: 30px;
  color: white;
  text-align: center;
}
#about h1{
  margin-top: 20px;
  margin: 20px;
}
#about p{
  text-align: justify;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
#about button{
  margin-left: 20px;
}
#project {
  margin-top: 40px;
  padding-top: 30px;
  padding: 20px;
  color: white;
  text-align: center;
  background-color: #01031a;
}
#project h1{
  margin-top: 20px;
}
.clas-con{
  display: flex;
  margin: 20px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 30px;
}
.card{
  background-color: #000223;
  padding: 20px;
  border-radius: 20px;
}
.card img{
  border-radius: 20px;
  margin: 20px;
}
.card h1{
  font-size: 30px;
}
.card1{
    box-shadow: gold 0 1px 5px;
  background-color: #000223;
  padding: 20px;
  border-radius: 20px;
}
.card1 img{
  border-radius: 20px;
  margin: 20px;
}
.card1 h1{
  font-size: 30px;
}
.card2{
    box-shadow: gold 0 1px 5px;
    width: 420px;
  background-color: #000223;
  padding: 20px;
  border-radius: 20px;
}
.card2 img{
  border-radius: 20px;
  margin: 20px;
}
.card2 h1{
  font-size: 30px;
}
#board{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
  padding-top: 30px;
}
#footer{
  background-color: #00084b;
  text-align: center;
  padding: 20px;
  color: white;
  font-weight: bolder;
}
.copy{
   font-weight: 200  !important;
   color: white;
}
#footer i{
  text-decoration: none !important;
  color: white;
  font-size: 20px;
}
#w{
  color: green !important;
}
#i{
  color: rgb(194, 63, 85) !important;

}
